.container {
  width: 90%;
  margin: auto;
}
table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}
button {
    width: 40%;
    border-radius: .1rem;
    font-weight: 500;
    margin: 1rem 2.5rem;
    background-color: rgb(255, 255, 255);
    
  
  }
  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
 }
.edit {
    color: rgb(0, 182, 130);

}

.delete {
  color: rgb(0, 0, 0);
}
