<div class="container">
<form class="form mat-elevation-z8">
    <div class="content">
    <h1>Programação Descomplicada - Suelen Feijó</h1>
    <img src="assets/img/login-image.svg" alt="Programação Descomplicada - Suelen Feijó">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <!--two way data binding angular -> [(ngModel)]="creds.email" tem que ter um name para não dar problema
    tudo que digito no input é adicionado em tempo real a variavel creds email -->

      <input [(ngModel)]="creds.email"
      [formControl]="email"
      required
       name="email" 
       matInput 
       placeholder="ciclano@mail.com">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input [(ngModel)]="creds.senha" 
      [formControl]="senha"
      required
      name="senha"  
      type="password" 
      matInput 
      placeholder="ex: 123">
    </mat-form-field>

    <button (click)="logar()" [disabled]="!validaCampos()" class="button mat-elevation-z4" mat-raised-button>Login</button>
</div>
<!--double mustache -> mostra o valor da variável no html-->
 <!--{{creds.email}}-->  
  </form>
</div>